<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lihui.security_office_backend.mapper.ContentMapper">

    <resultMap id="BaseResultMap" type="com.lihui.security_office_backend.model.entity.Content">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="OTHER"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="score" column="score" jdbcType="INTEGER"/>
            <result property="categoryId" column="categoryId" jdbcType="BIGINT"/>
            <result property="coverUrl" column="coverUrl" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="learningTime" column="learningTime" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,description,
        type,url,score,
        categoryId,coverUrl,createTime,
        updateTime,isDelete,userId,learningTime
    </sql>
</mapper>
