<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lihui.security_office_backend.mapper.StudentLearningRecordMapper">

    <resultMap id="BaseResultMap" type="com.lihui.security_office_backend.model.entity.StudentLearningRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="studentId" column="studentId" jdbcType="BIGINT"/>
            <result property="contentId" column="contentId" jdbcType="BIGINT"/>
            <result property="progress" column="progress" jdbcType="FLOAT"/>
            <result property="lastAccessTime" column="lastAccessTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,studentId,contentId,
        progress,lastAccessTime
    </sql>
</mapper>
